n8n-workflows/lead-follow-up-automation.json
{
  "name": "LeadGenie AI - Lead Follow-up Automation",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "lead-created",
        "responseMode": "responseNode",
        "options": {}
      },
      "id": "webhook-lead-created",
      "name": "Webhook - Lead Created",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 1,
      "position": [240, 300],
      "webhookId": "lead-created-webhook"
    },
    {
      "parameters": {
        "conditions": {
          "string": [
            {
              "value1": "={{ $json.source }}",
              "operation": "equal",
              "value2": "website_chat"
            }
          ]
        }
      },
      "id": "if-website-lead",
      "name": "If Website Lead",
      "type": "n8n-nodes-base.if",
      "typeVersion": 1,
      "position": [460, 300]
    },
    {
      "parameters": {
        "conditions": {
          "string": [
            {
              "value1": "={{ $json.source }}",
              "operation": "equal",
              "value2": "whatsapp"
            }
          ]
        }
      },
      "id": "if-whatsapp-lead",
      "name": "If WhatsApp Lead",
      "type": "n8n-nodes-base.if",
      "typeVersion": 1,
      "position": [460, 500]
    },
    {
      "parameters": {
        "url": "https://api.openai.com/v1/chat/completions",
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "openAiApi",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "model",
              "value": "gpt-4o-mini"
            },
            {
              "name": "messages",
              "value": "=[{\"role\": \"system\", \"content\": \"You are Sarah, a professional real estate agent assistant. Generate a personalized welcome email for a new lead.\"}, {\"role\": \"user\", \"content\": \"Generate a welcome email for: Name: {{ $json.first_name }} {{ $json.last_name }}, Phone: {{ $json.phone }}, Budget: ${{ $json.budget_min }} - ${{ $json.budget_max }}, Locations: {{ $json.preferred_locations }}, Transaction: {{ $json.transaction_type }}\"}]"
            },
            {
              "name": "max_tokens",
              "value": "300"
            },
            {
              "name": "temperature",
              "value": "0.7"
            }
          ]
        },
        "options": {}
      },
      "id": "generate-welcome-email",
      "name": "Generate Welcome Email",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.1,
      "position": [680, 200]
    },
    {
      "parameters": {
        "url": "https://api.openai.com/v1/chat/completions",
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "openAiApi",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "model",
              "value": "gpt-4o-mini"
            },
            {
              "name": "messages",
              "value": "=[{\"role\": \"system\", \"content\": \"You are Sarah, a professional real estate agent assistant. Generate a personalized WhatsApp follow-up message for a new lead.\"}, {\"role\": \"user\", \"content\": \"Generate a WhatsApp follow-up message for: Name: {{ $json.first_name }} {{ $json.last_name }}, Phone: {{ $json.phone }}, Budget: ${{ $json.budget_min }} - ${{ $json.budget_max }}, Locations: {{ $json.preferred_locations }}, Transaction: {{ $json.transaction_type }}\"}]"
            },
            {
              "name": "max_tokens",
              "value": "200"
            },
            {
              "name": "temperature",
              "value": "0.8"
            }
          ]
        },
        "options": {}
      },
      "id": "generate-whatsapp-message",
      "name": "Generate WhatsApp Message",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.1,
      "position": [680, 400]
    },
    {
      "parameters": {
        "fromEmail": "sarah@premierrealtygroup.com",
        "toEmail": "={{ $json.email || 'lead@premierrealtygroup.com' }}",
        "subject": "Welcome to Premier Realty Group - Let's Find Your Dream Property!",
        "message": "={{ $json.choices[0].message.content }}",
        "options": {
          "replyTo": "sarah@premierrealtygroup.com"
        }
      },
      "id": "send-welcome-email",
      "name": "Send Welcome Email",
      "type": "n8n-nodes-base.emailSend",
      "typeVersion": 2,
      "position": [900, 200]
    },
    {
      "parameters": {
        "url": "https://api.twilio.com/2010-04-01/Accounts/{{ $credentials.twilio.accountSid }}/Messages.json",
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "twilioApi",
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "From",
              "value": "whatsapp:+14155238886"
            },
            {
              "name": "To",
              "value": "=whatsapp:{{ $json.phone }}"
            },
            {
              "name": "Body",
              "value": "={{ $json.choices[0].message.content }}"
            }
          ]
        },
        "options": {}
      },
      "id": "send-whatsapp-message",
      "name": "Send WhatsApp Message",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.1,
      "position": [900, 400]
    },
    {
      "parameters": {
        "url": "https://your-app.vercel.app/api/follow-ups",
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "lead_id",
              "value": "={{ $json.id }}"
            },
            {
              "name": "user_id",
              "value": "={{ $json.user_id }}"
            },
            {
              "name": "scheduled_at",
              "value": "={{ new Date(Date.now() + 24 * 60 * 60 * 1000).toISOString() }}"
            },
            {
              "name": "follow_up_type",
              "value": "call"
            },
            {
              "name": "notes",
              "value": "Automated follow-up for new lead"
            }
          ]
        },
        "options": {}
      },
      "id": "schedule-follow-up",
      "name": "Schedule Follow-up",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.1,
      "position": [1120, 300]
    },
    {
      "parameters": {
        "respondWith": "text",
        "responseBody": "Lead processed successfully"
      },
      "id": "webhook-response",
      "name": "Webhook Response",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1,
      "position": [1340, 300]
    }
  ],
  "connections": {
    "Webhook - Lead Created": {
      "main": [
        [
          {
            "node": "If Website Lead",
            "type": "main",
            "index": 0
          },
          {
            "node": "If WhatsApp Lead",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If Website Lead": {
      "main": [
        [
          {
            "node": "Generate Welcome Email",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If WhatsApp Lead": {
      "main": [
        [
          {
            "node": "Generate WhatsApp Message",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Generate Welcome Email": {
      "main": [
        [
          {
            "node": "Send Welcome Email",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Generate WhatsApp Message": {
      "main": [
        [
          {
            "node": "Send WhatsApp Message",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Send Welcome Email": {
      "main": [
        [
          {
            "node": "Schedule Follow-up",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Send WhatsApp Message": {
      "main": [
        [
          {
            "node": "Schedule Follow-up",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Schedule Follow-up": {
      "main": [
        [
          {
            "node": "Webhook Response",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "pinData": {},
  "settings": {
    "executionOrder": "v1"
  },
  "staticData": null,
  "tags": [],
  "triggerCount": 1,
  "updatedAt": "2024-03-15T10:00:00.000Z",
  "versionId": "1"
}
